<?xml version="1.0"?>
<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">

    <!-- Planner configs -->
    <rosparam file="$(find robot_diff)/params/move_base_params.yaml"/>
    <rosparam file="$(find robot_diff)/params/global_planner_params.yaml"/>
    <rosparam file="$(find robot_diff)/params/dwa_local_planner_params.yaml"/>

    <!-- Common costmap params must be loaded under both namespaces -->
    <rosparam ns="global_costmap" file="$(find robot_diff)/params/costmap_common_params.yaml"/>
    <rosparam ns="local_costmap"  file="$(find robot_diff)/params/costmap_common_params.yaml"/>

    <!-- Costmap-specific params -->
    <rosparam file="$(find robot_diff)/params/global_costmap_params.yaml"/>
    <rosparam file="$(find robot_diff)/params/local_costmap_params.yaml"/>

  </node>
</launch>